* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    height: 1000px;
    background: red;
    padding: 10px;
}
.div{
    padding: 10px;
}

.green {
    background: green;
    padding: 10px;
}

.yellow {
    background: yellow;
    padding: 10px;
}

.w-100 {
    width: 100%;
}

.h-50 {
    height: 50%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.blue {
    background: blue;
    flex-direction: row;
}

.size100-100 {
    width: 100px;
    height: 100px;
}
.top{
    margin-bottom: 10px;
}
.bottom{
    margin-top: 10px;
}
.jc-between{
    justify-content: space-between;
}
.a-end {
    align-items: flex-end;
}
.jc-end{
        justify-content: end;
    }

.pad10{
    padding: 10px;
}


